<!DOCTYPE html>
<html>
  <head>
    <style>

      /*-----------------------------------------------------------------*/
      /* Text -----------------------------------------------------------*/
      /*-----------------------------------------------------------------*/

      h3 {
        color: #1a1a1a;
      }

      body{
        font-family: Helvetica;
        color: #262626;
      }

      /*-----------------------------------------------------------------*/
      /* Container ------------------------------------------------------*/
      /*-----------------------------------------------------------------*/
      .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
      }

      .row {
        margin-left: -15px;
        margin-right: -15px;
      }

      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }

      .col-lg-9 {
        width: 75%;
      }

      .col-lg-12 {
        width: 100%;
      }

      .col-lg-3 {
        width: 25%;
      }

      /*-----------------------------------------------------------------*/
      /* Logo -----------------------------------------------------------*/
      /*-----------------------------------------------------------------*/

      #logo {
        width : 80%;
        margin-right : 30px;
      }

      /*-----------------------------------------------------------------*/
      /* Table ----------------------------------------------------------*/
      /*-----------------------------------------------------------------*/

      .table {
        margin-bottom: 20px;
        max-width: 100%;
        width: 30%;
      }
      table {
        background-color: transparent;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0 none;
      }
      .table > thead > tr > th {
        border-bottom: 2px solid #ddd;
        vertical-align: bottom;
      }
      .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 1px solid #ddd;
        line-height: 1.42857;
        padding: 8px;
        vertical-align: top;
      }
      th {
        text-align: left;
      }
      td, th {
        padding: 0;
      }

      tbody > tr:hover {
        background-color: rgba(255, 204, 204, 0.9);
      }

      .table-bordered {
        border: 1px solid #ddd;
      }

    </style>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img id="logo" src="http://louvre-tickets.batkens.com/img/logo_128x128.png"/>

      </div>
      <div class="col-lg-9">
        <h3>Le Louvre vous remercie d'avoir réservé vos places !</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Détails de votre commande : </h3>
        <p>Vous venez de commander {{ order.users|length }} billet{% if order.users|length > 1 %}s {% endif %} pour la {{ order.duration.name|lower }} du {{ order.visiteDate|date('d/m/Y') }}</p>
        <table id="t01" class="table table-bordered">
          <thead>
            <tr>
              <th>Numéro de ticket</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            {% for user in order.users %}
            <tr>
              <td>n°{{ user.ticket.ticketNumber }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.ticket.price }}€</td>
            </tr>
            {% endfor %}
            <tr>
            <td colspan="3">TOTAL</td>
              <td>{{ order.price }}€</td>
            </tr>
          </tbody>
        </table>
        <p>Vous avez réglé la somme de {{ order.price }} €, nous vous attendons le {{ order.visiteDate|date('d/m/Y') }} pour la visite du Louvre</p>
        <p>À bientôt !</p>
      </div>
    </div>
  </div>

    

      {# Makes an absolute URL to the /images/logo.png file #}
