{% extends 'base.html.twig' %}

{% block body %}

      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="row" style="margin-right: 0">
        <div class="banner col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
          <h3 style="text-align: center">Quel jour souhaitez-vous venir ?</h3>   
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-3 col-lg-5">
              <p>{{ form_row(form.visiteDate) }}</p>
              <p>{{ form_row(form.duration) }}</p>
            </div>     
          </div>
          <hr>
          <h3 style="text-align: center">Votre adresse mail</h3>   
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-3 col-lg-5" style="text-align: center">
              <p>{{form_row(form.email)}}</p>
            </div>     
          </div>
        </div>
      </div>

    <div class="col-lg-3"></div>

      <div class="row" style="margin-right: 0">
        <div class="banner col-lg-offset-1 col-lg-10">
          <h2 style="text-align: center">Détails des participants</h2>
          <p style="margin-top:50px">{{ form_widget(form.users) }}</p>
          <a href="#" id="add_user" class="btn btn-default pull-right" style="margin-right: 5px">Ajouter un participant</a>
          <span class="pull-right">{{ form_widget(form.save) }}</span>
        </div>
      </div>
      {{ form_end(form) }}

{% endblock %}

{% block javascript %}

  <script type="text/javascript"> $('#appbundle_mborder_visiteDate').datepicker({ dateFormat: 'dd/mm/yy' }); </script>

  <script type="text/javascript">
  $(document).ready(function()
  {
    var $container = $('div#appbundle_mborder_users');
    var index = $container.find(':input').length;

    $('#add_user').click(function(e)
    {
      addUser($container);
      e.preventDefault();
      return false;
    });

    if(index > 1)
    {
      $container.children('div').each(function()
      {
        addDeleteLink($(this));
      });
    }

    function addUser($container)
    {
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Participant n°' + (index + 1))
        .replace(/__name__/g, index)
      ;

      var $prototype = $(template);

      addDeleteLink($prototype);

      $container.append($prototype);

      index++;
    }

    function addDeleteLink($prototype)
    {
      var $deleteLink = $('<a href="#" class="btn btn-danger pull-right" style="margin-right:20px; margin-top:10px;">Supprimer ce visiteur</a>');

      $prototype.append($deleteLink);

      $deleteLink.click(function(e)
      {
        $prototype.remove();

        e.preventDefault();
        return false;
      });
    }

  })
</script>

{% endblock %}
