{% extends 'base.html.twig' %}

{% block body %}
<div class="container banner" style="margin-top: 100px">
  <div class="row">
    <div class="col-lg-12">
      <p class="payment-errors"></p>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.cardNumber) }}
      {{ form_row(form.cardCVC) }}
      {{ form_row(form.cardExpiryMonth) }}
      {{ form_row(form.cardExpiryYear) }}
      {{ form_row(form.stripeToken) }}
      <span class="pull-right">{{ form_widget(form.save) }}</span>
    </div>     
  </div>
</div>
{{ form_end(form) }}

      <!-- <form id="payment-form" action="/task" method="post">
      <p class="payment-errors"></p>
        <div class="form-group">
          <label for="titulaire">Titulaire</label>
          <input type="text" class="form-control" id="titulaire" value="Battista Marion" aria-describedby="titulaireInfo" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="cardId">Card number</label>
          <input type="text" class="form-control card-number" id="cardId" value="4242 4242 4242 4242" aria-describedby="cardInfo" placeholder="Votre de code de carte bleue">
        </div>
        <div class="form-group">
          <label for="month">Mois</label>
          <input type="date" class="form-control card-expiry-month" id="month" value="12" aria-describedby="validation" placeholder="MM">
          <label for="year">Année</label>
          <input type="date" class="form-control card-expiry-year" id="year" value="18" aria-describedby="validation" placeholder="YY">
          <label for="day">Jour</label>
          <input type="date" class="form-control card-cvc" id="day" value="123" aria-describedby="validation" placeholder="CVC">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
Stripe.setPublishableKey('pk_test_IY8UQDFpbNuDEBLPZDWTDg0O');

var $form = $('#payment-form'); // On récupère le formulaire
$form.submit(function (e) {
  e.preventDefault();
  $form.find('button').prop('disabled', true); // On désactive le bouton submit
  Stripe.card.createToken({
    number: $('.card-number').val(),
    cvc: $('.card-cvc').val(),
    exp_month: $('.card-expiry-month').val(),
    exp_year: $('.card-expiry-year').val()
  }, function (status, response) {
    if (response.error) { // Ah une erreur !
      // On affiche les erreurs
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false); // On réactive le bouton
    } else { // Le token a bien été créé
      var token = response.id; // On récupère le token
      // On crée un champs cachée qui contiendra notre token
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      $form.get(0).submit(token); // On soumet le formulaire
    }
  });
});
</script>


{% endblock %}
